@tailwind base;
@tailwind components;
@tailwind utilities;

.info{
   opacity: 0;
 background-size: cover;
 background-blend-mode: multiply;
 background-color: rgba(0, 0, 0, 0.87);
 transition: 1s;
 width: 100%;
 height: 100%;
}

.container:hover .info{
opacity: 1;
 transition: 1s;
}


.mask1 {
  -webkit-mask-image: radial-gradient(ellipse 100% 90% at 88% 60%, rgba(0, 0, 0, 0.785) 40%, transparent 80%);
  mask-image: radial-gradient(ellipse 100% 90% at 88% 60%, rgba(0, 0, 0, 0.785) 40%, transparent 80%);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: rgba(57, 53, 53, 0.998);
  
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 75%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(57, 53, 53, 0.998) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.about{
  position: relative;
  z-index: 0;
}
/* .about::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url("../public/img/naruto.jpg");
  filter: blur(10px); 
  z-index: -1;
  width: 100%;
  height: 100%;
} */
.alt{
 background-size: cover;
 background-blend-mode: multiply;
 background-color: rgba(0, 0, 0, 0.781);
 transition: 1s;
 width: 100%;
}

.cardcontainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
 gap: 1rem;
row-gap: 2rem;

  
}

.gc{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.top:hover span{
  color: white;
  text-decoration: underline;
}

.log{
  background-size: cover;
 background-blend-mode: multiply;
 background-color: rgba(0, 0, 0, 0.922);
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.705);
}

.swiper-container {
  width: 480px;
}
.active{
  background-color: #00a2ffe7;
  
}


/*search*/
.input-wrapper {
  position: relative;
  width: 250px;
  margin: 50px auto;
}

.input-box {
  font-size: 1.3rem;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #08AEEA;
  width: 100%;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #08AEEA;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.input-box:focus {
  border-color: #08AEEA;
  outline: none;
}

.input-box:focus + .underline {
  transform: scaleX(1);
}
